body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sunflower {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 50px auto;
}

.stem {
    background-color: #228B22;
    width: 20px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
}

.flower {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.petals {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('petal.png'); /* Reemplaza 'petal.png' con la ruta de tu imagen de pétalos */
    background-size: cover;
    animation: animate-petals 5s infinite;
}

@keyframes animate-petals {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
